@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <p class="lead">Sample .Net application</p>
</div>

<div class="full-width">
    <p>
        This is a web based Document Uploader built using well structured .NET architecture.<br />Some of the technologies implemented are:
        <ul class="">
            <li>Web: HTML, CSS, Bootstrap, jQuery, JavaScript....</li>
            <li>C#</li>
            <li>MVC</li>
            <li>WCF</li>
            <li>Generic Automapper for mapping Database/Entity framework objects</li>
            <li>A few unit tests using Moq</li>
        </ul>
    </p>

</div>